
*.sqlite3

Pipfile

Pipfile.lock

marian/config_vars_ignored.py

.idea/

marian/__pycache__/

accounts/__pycache__/

accounts/migrations/__pycache__/
/identifier.sqlite

pickups/__pycache__/

pickups/migrations/__pycache__/
